<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/fragments/layout::view(~{::title},~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
    <main>
        <h1>Product Management</h1>
        <ul class="d-flex p-0">
            <li><a href="/admin/dashboard" class="active">Home</a></li>
            &nbsp // &nbsp
            <li>Product</li>
        </ul>
        <div class="row">
            <div class="col-md-12">
                <form method="post" th:object="${product}" enctype="multipart/form-data">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <div class="mb-3 d-none">
                        <label for="id" class="form-label">Id:</label> <input type="text" class="form-control d-none"
                                                                              id="id"
                                                                              placeholder="Enter name product..."
                                                                              th:field="*{id}">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name:</label> <input type="text" class=""
                                                                                  id="name"
                                                                                  placeholder="Enter name product..."
                                                                                  th:field="*{name}"
                                                                                  th:classappend="@{|form-control ${#fields.hasErrors('name') ? 'is-invalid' : ''}|}">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                            <span th:errors="*{name}">Error message</span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price:</label> <input type="text"
                                                                                    id="price" th:field="*{price}"
                                                                                    th:classappend="@{|form-control ${#fields.hasErrors('price') ? 'is-invalid' : ''}|}"
                                                                                    placeholder="Enter price product...">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}">
                            <span th:errors="*{price}">Error message</span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="short-desc" class="form-label">Short Description:</label>
                        <input type="text"
                               th:classappend="@{|form-control ${#fields.hasErrors('shortDesc') ? 'is-invalid' : ''}|}" class="form-control"
                               id="short-desc"
                               th:field="*{shortDesc}"
                               placeholder="Enter short-desc product...">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('shortDesc')}">
                            <span th:errors="*{shortDesc}">Error message</span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="detail-desc" class="form-label">Detail Description:</label> <textarea
                            th:classappend="@{|form-control ${#fields.hasErrors('detailDesc') ? 'is-invalid' : ''}|}"
                            id="detail-desc" rows="3" th:field="*{detailDesc}"></textarea>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('detailDesc')}">
                            <span th:errors="*{detailDesc}">Error message</span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Product's category:</label>
                        <select class="form-select" aria-label="Default select example" th:field="*{category}">
                            <option value="" selected disabled>Select category product</option>
                            <option th:each="category: ${categories}" th:value="${category.id}"
                                    th:text="${category.name}">
                                Wedding
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label th:class="form-label">Product's Status:</label>
                        <select class="form-select" aria-label="Default select example" th:field="*{status}">
                            <option value="" selected disabled>Select product's status</option>
                            <option th:each="status: ${productStatus}" th:value="${status}" th:text="${status}">
                                Wedding
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label th:class="form-label">Target:</label>
                        <select class="form-select" aria-label="Default select example" th:field="*{target}">
                            <option value="" selected disabled>Select product's target</option>
                            <option th:each="tgt: ${targets}" th:value="${tgt}" th:text="${tgt}">
                                Wedding
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="productImage" class="form-label">Choose image for product</label>
                        <input class="form-control" type="file" id="productImage" accept=".png, .jpg, .web, .jpeg" name="photoProduct">
                    </div>
                    <div class="mt-3">
                        <img class="img-thumbnail" th:style="'max-height: 250px; width: 400px; object-fit: contain; display: ' + (${param.edit} != null ? 'block' : 'none')" alt="avatar preview"
                             id="imagePreview" th:src="@{|/client/images/products/*{image}|}" />
                    </div>
                    <div class="action mt-3">
                        <button class="btn btn-primary text-white me-2" th:formaction="@{|/admin/product/create?page=${page.number}|}">Create</button>
                        <button class="btn btn-warning text-white me-2" th:formaction="@{|/admin/product/update?page=${page.number}|}">Update</button>
                        <a class="btn btn-danger me-2"
                           th:href="@{|/admin/product/delete/${product.id}?page=${page.number}|}">Delete</a>
                        <a class="btn btn-info text-white" th:href="@{|/admin/product/index?page=${page.number}|}">Reset</a>
                    </div>
                </form>
            </div>
        </div><!-- end of insights -->
        <hr>
        <div class="recent-orders">
            <h1>Recent Product</h1>
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p: ${page.content}">
                    <td th:text="${p.id}"></td>
                    <td class="image">
                        <img th:src="@{|/client/images/products/${p.image}|}"
                                           class="img-thumbnail image-product" alt="Cinque Terre">
                    </td>
                    <td th:text="${p.name}">Iphone 15 Promax</td>
                    <td th:text="${p.price}">5000 $</td>
                    <td class="success" th:text="${p.status}">Còn Hàng</td>
                    <td class="edit-product"><a th:href="@{|/admin/product/edit/${p.id}?page=${page.number}|}"
                                                class="warning">Edit</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav class="mt-5">
                <ul class="pagination justify-content-center">
                    <li class="page-item p-0">
                        <a class="page-link"
                           th:href="@{|/admin/product/index?page=${page.number > 1 ? page.number - 1 : 1}|}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item p-0" th:each="p: ${#numbers.sequence(1, page.totalPages - 1)}">
                    <a
                            th:class="@{|page-link ${page.number == p?'active':''}|}"
                            th:href="@{|/admin/product/index?page=${p}|}"><span th:text="${p}"></span></a></li>
                    <li class="page-item p-0">
                        <a class="page-link"
                           th:href="@{|/admin/product/index?page=${page.number lt page.totalPages ? page.number + 1 : page.totalPages}|}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </main>s
</body>
</html>