@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* root variable */
:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #f9bb5e;
    --color-white: #e7e7e7;
    --color-info-dark: #7d8da1;
    --color-info-light: #dceleb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #0e0e0e;
    --color-text-hover: #c2a061;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}


* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Chakra Petch", serif;
    font-size: 1rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-white);

}

a {
    color: var(--color-white) !important;
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: .8rem;
}

h5 {
    font-size: .77rem;
}

small {
    font-size: .75rem;
}

.bg-image {
    width: 100%;
    justify-items: center;
}

.bg-image img {
    object-fit: contain;
}

.header {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
}

.bg-image {
    position: absolute;
}

.bg-image img {
    object-fit: cover;
    width: 100%;
    height: auto;
    /* Giảm độ sáng của ảnh để làm tối */
    filter: brightness(50%);
}


.navbar {
    background-color: rgba(0, 0, 0, 0.22) !important;
    box-shadow: 0 0 10px var(--box-shadow);
}

.nav-item .nav-link.active {
    color: var(--color-text-hover) !important;
    font-weight: bold;
}

.nav-item a {
    transition: color 300ms ease;
}

.nav-item a:hover {
    color: var(--color-text-hover) !important;
}

.content {
    position: absolute;
    width: 100%;
    height: auto;
    text-align: center;
    align-content: center;
    top: calc(50% - 80px);
}

.content-main {
    font-size: 4rem;
}

.content-style {
    color: var(--color-text-hover);
}

.content-description {
    display: inline-block;
    font-size: 1.3rem;
    padding: 0.6rem 3rem;
    width: 50%;
}

.btn-read-more {
    border: 2px solid var(--color-text-hover);
    padding: 1.6rem;
    min-width: 200px;
    border-radius: 50px;
    font-weight: bold;
    color: var(--color-text-hover);
    transition: all 300ms ease;
}

.btn-read-more:hover {
    color: var(--color-white);
    border-color: var(--color-white);
    font-size: 1.2rem;
    font-weight: bolder;
}

/* css for intro */

.highlight {
    color: #f0c14b;
}

.icon {
    font-size: 2rem;
    color: #f0c14b;
    margin-bottom: 10px;
}

.custom-box {
    background-color: #2a2a2a;
    border-radius: .5rem;
    padding: 1.2rem;
    min-height: 180px;
    text-align: center;
}

.download-link {
    color: #f0c14b;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
}

.download-link:hover {
    text-decoration: underline;
}

.custom-card {
    background-color: #252525;
    border: none;
    color: white;
    text-align: center;
}

.custom-card img {
    width: 100%;
    border-radius: 8px;
}

.read-more {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 50px;
    border: 2px solid var(--color-text-hover);
    color: var(--color-text-hover) !important;
}

.story-image {
    object-fit: cover;
    width: 100%;
    height: auto;
    /* Giảm độ sáng của ảnh để làm tối */
    filter: brightness(40%);
}

.wrap-story {
    position: relative;
}

.content {
    position: absolute;
}

.text-content {
    font-size: 5rem;
}

.text-content span {
    color: var(--color-text-hover);
}

.rotating-square {
    position: absolute;
    top: calc(50% - 110px);
    right: calc(50% - 110px);
    width: 250px;
    height: 250px;
    border: 1px solid var(--color-text-hover);
    transform-origin: center;
    animation: rotate 8s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/* Story */
.online-store {
    color: var(--color-text-hover);
    font-size: 1.2rem;
}

div .title {
    font-size: 2rem;
}


/* review product */
.button-add-cart {
    border: 2px solid var(--color-text-hover);
    border-radius: 50px;
    padding: 1rem 2rem;
    color: var(--color-text-hover);
    transition: all 300ms ease;
}

.item:hover .button-add-cart {
    transform: translateY(-50%);
    box-shadow: var(--box-shadow);
}

.button-add-cart:hover {
    color: var(--color-white);
    border-color: var(--color-white);
}

.content-product .name {
    font-size: 1.2rem;
}

.content-product .price {
    color: var(--color-text-hover);
    font-size: 1.2rem;
    font-weight: bold;
}

.item {
    border: 1px solid var(--color-text-hover);
}

.online-store-btn {
    padding: 1.2rem 2rem;
    background-color: transparent;
    border: 1px solid var(--color-text-hover);
    color: var(--color-text-hover);
    border-radius: 50px;
    transition: all 300ms ease;
}

.online-store-btn:hover {
    border: 1px solid var(--color-white);
    color: var(--color-white);
    box-shadow: var(--box-shadow);
}

/* Footer */

.icon {
    font-size: 1.8rem;
}

.icon i {
    margin-right: .4rem;
    cursor: pointer;
    transition: all 300ms ease;
}

.icon i:hover {
    color: var(--color-white);
}

.card-body {
    background-color: transparent !important;
}

/* Explore */
.explore i {
    font-size: 2rem;
    color: var(--color-text-hover);
}

.tieu-de {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--color-text-hover);
}

.explore-content h2,
.latest-post h2 {
    color: var(--color-text-hover);
}

/* wave*/
.wave {
    width: 200px;
    height: 10px;
    margin: 10px auto 0;
    background: none;
    position: relative;
}

.wave::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: repeating-linear-gradient(90deg,
    transparent,
    transparent 8px,
    #c0976c 8px,
    #c0976c 16px);
}

.land {
    content: "";
    width: 100%;
    height: 170px;
    background-position: 50% 0;
    background-size: cover;
    display: block;
    margin-bottom: 0;
}

.name-cpn {
    color: var(--color-text-hover);
}


/* Responsive Styles */
@media (max-width: 1000px) {
    .navbar-nav {
        display: none !important;
    }

    .navbar-right {
        text-align: right !important;
    }

    .before-footer-first {
        text-align: center;
    }

    .before-footer-first p {
        width: 50%;
        margin: auto;
    }

    .before-footer-second {
        text-align: center;
        width: 50%;
        margin: auto;
        margin-top: 2rem;
    }

    .before-footer-second>div {
        padding-right: 40px;
    }

    .before-footer-third {
        display: none;
    }

    .wrap-story .text-content {
        font-size: 4rem;
    }

    .intro {
        text-align: center;
    }

    .download-link {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .before-footer-second>div {
        padding-right: 0;
    }
}