<div th:fragment="footer">
    <div class="mt-5 pb-5">
        <div class="container">
            <div class="row before-footer">
                <div class="col-lg-4 col-md-12 before-footer-first ">
                    <div class="logo">
                        <a class="d-inline-block justify-items-right" th:href="@{/}">
                            <img th:src="@{|/client/images/utils/logo_1x_white-1.png|}" class="w-50" alt="">
                        </a>
                        <p class="pt-3">
                            Etiam consequat sem ullamcorper, euismod
                            metus sit amet, tristique justo. Vestibulum
                            mattis, nisi ut.
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ri-twitter-fill"></i>
                        <i class="ri-facebook-circle-fill"></i>
                        <i class="ri-instagram-fill"></i>
                        <i class="ri-youtube-fill"></i>
                    </div>
                </div>
                <!-- Explore -->
                <div class="col-lg-4 col-md-12 before-footer-second">
                    <h2 class="tieu-de">Explore</h2>
                    <div class="row explore">
                        <div class="col-md-1">
                            <i class="ri-phone-line"></i>
                        </div>
                        <div class="col-md-11 explore-content ps-3">
                            <h2 class="mb-0">Phone</h2>
                            <p class="phone">+84 339 129 745</p>
                        </div>
                    </div>
                    <div class="row explore">
                        <div class="col-md-1">
                            <i class="ri-map-pin-line"></i>
                        </div>
                        <div class="col-md-11 explore-content ps-3">
                            <h2 class="mb-0">Our location</h2>
                            <p class="phone">Mo Duc- Quang Ngai - VietNam</p>
                        </div>
                    </div>
                    <div class="row explore">
                        <div class="col-md-1">
                            <i class="ri-mail-line"></i>
                        </div>
                        <div class="col-md-11 explore-content ps-3">
                            <h2 class="mb-0">Email: </h2>
                            <p class="phone">sondoquang@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 before-footer-third ">
                    <h2 class="tieu-de">Latest Posts</h2>
                    <div class="row latest-post mt-3">
                        <div class="col-md-3">
                            <img th:src="@{|/client/images/footers/footer01.jpg|}" class="w-100" alt="">
                        </div>
                        <div class="col-md-9 ps-3">
                            <h2 class="mb-0">Craft Food: </h2>
                            <p>Rent of Equipment for Pastry Shops</p>
                        </div>
                    </div>
                    <div class="row latest-post mt-3">
                        <div class="col-md-3">
                            <img th:src="@{|/client/images/footers/footer02.jpg|}" class="w-100" alt="">
                        </div>
                        <div class="col-md-9 ps-3 ">
                            <h2 class="mb-0">Craft Food: </h2>
                            <p>Secrets of Choosing Cocoa Powder</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer class="">
        <div class=" wave"></div>
        <div class="footer-content text-center p-3">
            <p><span class="name-cpn">STLang</span> © All Rights Reserved - 2020 - <span
                    class="name-cpn">Purchase</span></p>
        </div>
    </footer>
</div>