<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
 <head>
  <meta charset="UTF-8">
     <link rel="stylesheet" th:href="@{|/client/css/access-denied.css|}">
  <title>Access Denied</title>
 </head>
 <body>
 <div class="container">
     <h1>403</h1>
     <h2>Access Denied</h2>
     <p>Bạn không có quyền truy cập vào trang này.</p>
     <a href="javascript:history.back()" class="back-button">Quay lại</a>
 </div>
 </body>
</html>