<!--<!doctype html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Fragment Sidebar</title>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash; Start aside &ndash;&gt;-->
<aside th:fragment="sidebar">
    <div class="top">
        <div class="logo">
            <img th:src="@{|/admin/images/profiles/logo.png|}" alt="Admin">
            <h2>Admin</h2>
        </div>
        <div class="close" id="close-btn">
            <i class="ri-close-large-fill"></i>
        </div>
    </div>
    <div class="sidebar">
        <a href="" class="text-mute"> <i class="ri-layout-grid-fill"></i>
            <h3>Dashboard</h3></a> <a href=""> <i class="ri-user-3-line"></i>
        <h3>Customers</h3></a> <a href=""> <i class="ri-file-list-3-line"></i>
        <h3>Orders</h3></a> <a href=""> <i class="ri-line-chart-line"></i>
        <h3>Analytics</h3></a> <a href=""> <i class="ri-chat-ai-line"></i>
        <h3>message</h3><span class="message-count">25</span> </a> <a href="" class="active"> <i
            class="ri-product-hunt-line"></i>
        <h3>Products</h3></a> <a href=""> <i class="ri-file-chart-2-line"></i>
        <h3>Reports</h3></a> <a href=""> <i class="ri-settings-2-line"></i>
        <h3>Settings</h3></a> <a href=""> <i class="ri-add-fill"></i>
        <h3>Add Product</h3></a> <a href=""> <i class="ri-logout-circle-line"></i>
        <h3>Logout</h3></a>
    </div>
</aside>
<!--</body>-->
<!--</html>-->